.aboutMe {
    height: auto;
    background-color: #567b95 ;
}
#aboutMeSection {
    padding-top: 5%;
    padding-bottom: 3%;
}
.aboutMe h1 {
    font-family: 'Homemade Apple', cursive;
    color: #c0c6cb;
}
.aboutMe p {
    font-family: 'Raleway', sans-serif;
    color: #1d3141;
    font-weight: 600;
    padding-top: 20px;
}
#myHeadshot {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    padding: 10px;
}