.myWork {
  height: auto;
  background-color: #567b95;
  padding-top: 20px;
  padding-bottom: 30px;
}
.myWork h1 {
  font-family: 'Homemade Apple', cursive;
  color: #c0c6cb;
  font-weight: 700;
  font-size: 50px;
  padding-top: 12px;
  padding-bottom: 30px;
}
#projTitle, #projGit {
  text-decoration: none;
  font-family: "Yeseva One", cursive;
  font-weight: 900;
  font-size: 45px;
  color: #02213a;
}
#projDes {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #02213a;
}
#projGit:hover , #projTitle:hover {
  text-decoration: none;
  color: white;
}
#carouselImage {
  filter: opacity(40%);
}

@media (max-width: 576px) {
  #projTitle, #projGit {
    text-decoration: none;
    font-family: "Yeseva One", cursive;
    font-weight: 900;
    font-size: 30px;
    color: #02213a;
  }
  #projDes {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #02213a;
  }
  #projGit:hover , #projTitle:hover {
    text-decoration: none;
    color: white;
  }
  .myWork h1 {
    font-weight: 600;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.myWork {
  padding-top: 15px;
  padding-bottom: 20px;
}
}
