.myWork {
    height: auto;
    background-color: #b1cde2;
    padding-top: 5%;
    padding-bottom: 5%;
}
.myWork h1 {
    font-family: 'Homemade Apple', cursive;
    color: #2D4B64;
    padding-bottom: 2%;
}