.contact {
    height: auto;
    background-color: #567b95;
    padding-top: 20px;
    padding-bottom: 30px;
}
.contact h1 {
    font-family: 'Homemade Apple', cursive;
    color: #c0c6cb;
    font-weight: 700;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.contact h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 33px;
    color: #02213a;
}
.contact h3 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #02213a;
    padding-bottom: 10px;
}
.contact label {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color: #02213a;
    font-size: 22px;
}
.contact button {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background-color: #02213a;
    border: 2px solid #02213a;
}
.contact button:hover {
    background-color: white;
    color: #02213a;
    border: 2px solid #02213a;
}
@media (max-width: 576px) {
    .contact {
        padding-top: 15px;
        padding-bottom: 20px;
      }
    .contact h1 {
        font-weight: 600;
        font-size: 35px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .contact h2 {
        font-size: 23px;
    }
    .contact h3 {
        font-size: 20px;
    }
    .contact label {
        font-size: 18px;
    }
}