.contact {
    height: auto;
    background-color: #567b95;
    padding-top: 5%;
    padding-bottom: 5%;
}
.contact h1 {
    font-family: 'Homemade Apple', cursive;
    color: #c0c6cb;
    padding-bottom: 2%;
}