.contact {
    height: auto;
    background-color: #567b95;
    padding-top: 20px;
    padding-bottom: 30px;
}
.contact h1 {
    font-family: 'Homemade Apple', cursive;
    color: #c0c6cb;
    font-weight: 700;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.contact h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 33px;
    color: #02213a;
}
.contact h3 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #02213a;
    padding-bottom: 10px;
}
.contact label, .contact p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color: #02213a;
    font-size: 22px;
}
#input {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500 ;
    color: #02213a;
    font-size: 22px;
    border: 2px solid #02213a;
    box-shadow: 5px solid #A4ACB4;
}
#input:focus {
    box-shadow: 0 0 0 0.25rem rgba(2, 33, 58, 0.25)
}

.contact button, .contact button:focus, .contact button:active {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: white;
    background-color: #02213a;
    border: 2px solid #02213a;
    box-shadow: none !important;
}
.contact button:hover {
    background-color: white;
    color: #02213a;
    border: none;
    box-shadow: 0px 8px 15px #A4ACB4 !important;
    transform: translateY(-7px);
}

@media (max-width: 576px) {
    .contact {
        padding-top: 15px;
        padding-bottom: 20px;
      }
    .contact h1 {
        font-weight: 600;
        font-size: 35px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .contact h2 {
        font-size: 23px;
    }
    .contact h3 {
        font-size: 20px;
    }
    .contact label, .contact p, #input {
        font-size: 18px;
    }
}