/* Navbar */
.myNavbar {
    background-color: #2D4B64;
}
#myNav {
    margin-left: 3%;
}
#navLinks{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #A4ACB4;
}
#navLinks:hover{
    color: white;
}
/* Header */
.header {
    height: 80vh;
}
#myName {
    font-family: 'Homemade Apple', cursive;
    color: #2D4B64;
    padding-top: 275px;
    
}
/* Footer */
#footerPicture {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 6px;
}