/* Navbar and footer*/
#myNavbar, #footer {
    background-color: #2D4B64;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#myNav {
    margin-left: 3%;
}
.navbar-text {
    padding-left: 10px;
    padding-right: 10px;
}
#navLinks{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #A4ACB4;
    font-size: 25px;

}
#copyright, #footerName{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #A4ACB4;

}
#navLinks:hover, #active{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 25px;
}
#footerName{
    font-family: 'Homemade Apple', cursive;
    color: #A4ACB4;
}
#footerPicture {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 6px;
}
.footerLink {
    border: 2px solid #A4ACB4;
}
/* Header */
.header {
    height: 80vh;
}
#myName {
    font-family: 'Homemade Apple', cursive;
    color: #2D4B64;
    padding-top: 275px;
    font-weight: 800;
    
}
@media (max-width: 576px) {
    .header {
        height: 70vh;
    }
    #myName {
        font-size: 25px;
        padding-top: 250px;
    }
    #navLinks, #active {
        font-weight: 600;
        font-size: 15px;
    }
}