/* Navbar and footer*/
#myNavbar {
    background-color: #2D4B64;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#footer {
    background-color: #2D4B64;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
#myNav {
    margin-left: 3%;
}
.navbar-text {
    padding-left: 10px;
    padding-right: 10px;
}
#navLinks{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #A4ACB4;
    font-size: 22px;

}
#copyright{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #A4ACB4;
    padding: auto;

}
#navLinks:hover, #active{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 22px;
}
#footerName{
    font-family: 'Homemade Apple', cursive;
    color: #A4ACB4;
    font-size: 22px;
    font-weight: 500;
}
#footerPicture {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 6px;
}
#footerIcon {
    color: #A4ACB4
}
#footerIcon:hover {
    color: white;
    box-shadow: 0px 8px 15px #A4ACB4 !important;
    transform: translateY(-7px);
    border-radius: 50% 100%;
}
/* Header */
.header {
    height: 80vh;
}
#myName {
    font-family: 'Homemade Apple', cursive;
    color: #2D4B64;
    padding-top: 275px;
    font-weight: 800;
    font-size: 42px;
}
#caption {
    font-family: 'Raleway', sans-serif;
    color: rgb(53, 24, 24);
    font-weight: 600;
    font-size: 28px;
    filter: opacity(70%)
}
@media (max-width: 576px) {
    .header {
        height: 70vh;
    }
    #myName {
        font-size: 25px;
        padding-top: 250px;
    }
    #caption {
        font-size: 20px;
    }
    #navLinks, #navLinks:hover, #active {
        font-weight: 600;
        font-size: 15px;
    }
}